.home {
  & .header {
    margin-bottom: 0;
    border-bottom: none;
  }

}

header.header {


  &__column {
	  .right-nav {
		  width: 100%;
	  }
  }
  &__wrapper {
	  padding: 25px 0;
  }
  &__middle-column {
	  position: absolute;
	  width: 265px;
	  left: 50%;
	  transform: translateX(-50%);
	  top: 0px;
  }
}
.header {
	display: none;
	&__container {
  	  border-bottom: 1px solid $social_bg_color;
    }
}

.header__field {
	padding: 20px 0;
	& .form-inline{
		border-bottom: 1px solid $themeColorOne;
		justify-content: space-between;
		margin-right: 2rem;
		input {
	  	  border: none;
		  font-family: $fontFamilyTwo;
		  font-size: 16px;
	    }
		button {
			background: transparent;
			color: $themeColorOne;
			box-shadow: none;
			border: none;
			padding: 10px;
			&.btn-secondary:not(:disabled):not(.disabled):active {
				border-color: none;
				background-color: none;
			}
		}

	}
	.header__link {
		margin-right: 2rem;;
		display: -ms-flex;
		display: flex;
		align-items: center;
		i {
			font-size: 1.25em;
		}
	}
	.woo-cart {
		display: -ms-flex;
		display: flex;
		align-items: center;
		margin-right: 1.5rem;
	}
	.cart-contents::before {
		content: '\f290';
		font-size: 25px;
	}
}



@media screen and (min-width: 1024px) {
  .header {
    display: block;
    background: $headerBgColor;
    padding-top: 10px;
    margin-bottom: 40px;
    border-bottom: 1px solid $accent_color;

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-content: center;
      width: 100%;
    }

    &__column {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      & .left-nav {
        width: 100%;

        & .menu-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
        }
      }

      & .right-nav {
        width: 100%;

        & .menu-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
        }
      }
    }

    &__middle-column {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 33;

      &:before {
        content: '';
        display: block;
        background: $primary_color_two;
        width: 100%;
        height: 100%;
        border-radius: $border_round_radius;
        position: absolute;
        left: 0;
        top: 40px;
        z-index: 1;
      }

      & .logo {
        position: relative;
        z-index: 2;
        bottom: -18px;
      }
    }
  }
}

@media screen and (max-width: 1366px) {
	.header {
		&__middle-column {
			width: 190px;
		}
		.nav .menu-link {
			font-size: 14px;
			padding: 8px 4px;
		}
	  }

}

@media screen and (max-width: 1023px) {

}

@media screen and (max-width: 576px) {
	.nav-mobile-header {
		.header__field {
			.form-inline {
				max-width: 120px;
				margin-right: 0;
				input {
					padding: 11px 2px 11px 6px;
					width: calc(100% - 20px );
				}
				button {
					padding: 11px 5px 11px 2px;
				}
			}
		}
	}
}
