$debug: false !default;
$image-url-path: "assets/img/" !default;
$font-url-path: "assets/fonts/" !default;
$primary_color_one: #000 !default;
$primary_color_two: #fff !default;

//GRID Settings
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

$grid-breakpoints: (
        xs: 0,
        sm: 544px,
        md: 768px,
        lg: 1024px,
        xl: 1360px
) !default;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1300px
) !default;

// THEME COLORS
$themeColorOne: #313442; // Обычно самый темный цвет. Используется для: заголовков h1-h6 - $titleFontColor и других.
$themeColorTwo: #E3274D; // Основной/акцентный цвет бренда. Поменять значение этой переменной согласно макета обязательно!
$social_bg_color: #CCAB96;
$accent_color: #F5EEEA;
$border_round_radius: 50%;
$light_bg_color: #faf7f6;
$old_price_color: #cecfd4;
$border_form_color: #e2f0fa;


$borderRadius: 0;
$borderColor: lighten($themeColorOne, 70%);
$shadow: 0 0 10px rgba($themeColorOne, .2);

// SELECTION: цвет фона и текста при выделении его курсором
$selectionBgColor: $themeColorTwo;
$selectionFontColor: #fff;

// BODY
$bodyBgColor: #fff;
$bodyFontColor: #313442;

// WRAPPER
$wrapperBgColor: #fff;

// HEADER: цвет фона шапки сайта
$headerBgColor: $primary_color_two;
$headerFontColor: $themeColorOne;

// Text Highlight: цвет фона и текста при добавлении к нему .highlighted
$textHighlightBgColor: $themeColorTwo;
$textHighlightColor: #fff;

// MENU
$menuBgColor: $themeColorOne;
$menuBgColorActive: $themeColorTwo;
$menuFontColor: #fff;
$menuFontColorActive: #fff;

//Sub Menu
$menuMobileSubMenuBGColor: lighten($themeColorOne, 10%);
$menuMobileTextColor: $themeColorOne;
$menuMobileSubMenuLinkFontSize: 18px;
$menuMobileSubMenuTextColor: $menuMobileTextColor;
$menuMobileSubMenuBGOnHover: darken($themeColorTwo, 10%);
$menuMobileSubMenuTextColorOnHover: #fff;

// MENU Mobile
$navArrowColor: $themeColorOne;
$navHeaderMobileBGColor: $light_bg_color;
$navHamburgerMobileColor: $themeColorTwo;
$menuMobileBGColor: lighten($social_bg_color, 15%);
$menuMobileLinkFontSize: 20px;

$hamburger-offset: 8px;
$hamburger-duration: .1s;
$hamburger-delay: .1s;
$hamburger-color: $themeColorTwo;

$menu-close-size: 25px;
$menu-close-color: $themeColorOne;
$menuContainerMobilePaddingTop: 20%;

// TITLES
$titleFontColor: $themeColorOne;
$titleFontColorActive: lighten($titleFontColor, 10%);

// LINKS
$linkFontColor: #000;
$linkFontColorActive: lighten($linkFontColor, 20%);

// TABLE
$tableBgColor: $themeColorTwo;
$tableBgColorActive: lighten($themeColorTwo, 10%);
$tableBorderColor: #fff;
$tableBorderColorActive: #989898;
$tableOddBgColor: $themeColorOne;
$tableOddFontColor: #fff;
$tableEvenBgColor: $themeColorTwo;
$tableEvenFontColor: #fff;

// TEXT
$textMutedColor: #aaa;

// Icons
$iconColor: $themeColorTwo;
$iconColorActive: lighten($themeColorTwo, 10%);
$iconColorReversed: $bodyBgColor;

// FORMS
$formFieldBorderWidth: 1px;
$formFieldBorderColor: lighten($themeColorOne, 60%);
$formFieldPadding: 11px 8px;
$formFieldTextColor: #000;
$formFieldTextSize: 18px;
$formFieldBorderRadius: $borderRadius;
$formFieldBackgroundColor: #fff;
$inputFieldMinHeight: 38px;
$formBgColor: lighten($themeColorOne, 75%);

// FOOTER
$footerBgColor: $themeColorOne;
$footerFontColor: #fff;
$footerLinkColorActive: darken($footerFontColor, 5%);

// Pagination
$paginationActiveLink: $themeColorTwo;
$paginationActiveLinkText: #fff;
$paginationLinkOnHover: $themeColorTwo;
$paginationLinkOnHoverText: #fff;

//WOOCOMMERCE
$wooThemeColor: $themeColorTwo;

// On sale
$onsaleBackgroundColor: $wooThemeColor;
$onsaleFontColor: #fff;

// Products price
$productsPriceFontColor: $wooThemeColor;

// Single Product page
$productPriceFontColor: $wooThemeColor;

// error
$errorBorderTopColor: #b81c23;
$errorIconFontColor: #b81c23;

// info
$infoBorderTopColor: #1e85be;
$infoIconFontColor: #1e85be;

// message
$messageBorderTopColor: $themeColorTwo;
$messageIconFontColor: $themeColorTwo;

//WOOCOMMERCE end
